*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*#5d17eb*/

/*#8c52f6*/

html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

.container{
    max-width: 1200px;
    padding: 0 2%;
    margin: 0 auto;
}


.titulo-texto .container{
    max-width: 800px;
}

.titulo-texto p{
    font-size: 30px;
    color: #8c52f6;
}

.titulo-texto h1{
    font-size: 3em;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.grid{
    column-gap: 10px;
    display: grid;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.clear{
    clear: both;
}

.bottom-border{
    display: inline-block;
    width: 100%;
    max-width: 500px;
    border-bottom: 1px solid #000;
}

::-webkit-scrollbar{
    background-color: #10121f;
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #5d17eb;
}

/*********/

header{
    width: 100%;
    min-height: 100vh;
    background-color: #10121f;
}

header .container > i{
    color: #Fff;
    font-size: 2.5em;
    position: absolute;
    bottom: 5%;
    left: 50%;
    animation: move 1.4s infinite;
}

@keyframes move{
    0%{
        bottom: 5%;
    }

    50%{
        bottom: 7%;
    }

    100%{
        bottom: 5%;
    }
}

.logo-menu i{
    padding: 0.5em;
    font-size: 4em;
    color: #8c52f6;
    list-style-type: none;
}

.menu-desktop{
    line-height: 50px;
    padding: 1.2em;
}

.menu-mobile-container{
    display: none;
}

.menu-desktop .menu-links{
    display: flex;
    justify-content: right;
}

.menu-desktop .menu-links nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px 0;
}

.menu-links nav ul li{
    padding: 0 19px;
    font-size: 1em;
    list-style-type: none;
}

.menu-links nav ul li a{
    padding: .6em;
    color: #8c52f6;
    text-decoration: none;
    transition: 0.5s;
}

.menu-links nav li a:hover{
    color: #059b9a;
    border-bottom: 5px solid #042235;
}

.menu-redes_social ul li{
    list-style-type: none;
}

.menu-redes_social ul li a{
    text-decoration: none;
    font-size: 1.5em;
    color: #8c52f6;
}

.menu-desktop .menu-redes_social{
    position: absolute;
    right: 5rem;
    top: 35vh;
}

.menu-desktop .menu-redes_social ul li{
    padding-bottom: 1px;
}

.menu-desktop .menu-redes_social ul li a{
    padding: .2em .3em;
    border: 2px solid #8c52f6;
    border-radius: 50px;
    transition: 0.5s;
}

.menu-desktop .menu-redes_social ul li a:hover{
    color: #fff;
    border: 2px solid #fff;
}

.menu-mobile-container button{
    position: fixed;
    z-index: 100;
    right: 3em;
    top: 3.5em;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: 0.7s;
}

.menu-mobile-container button span{
    color: #8c52f6;
    position: relative;
    bottom: 9px;
    right: 9px;
    padding-left: 10px;
}

.menu-mobile-container button.opague{
    background-color: #000;
    padding: 0.5em;
}

.menu-mobile-container button i{
    font-size: 2.5em;
    color: #8c52f6;
}

.menu-mobile{
    width: 50%;
    height: 100%;
    padding: 1em;
    position: fixed;
    z-index: 99999;
    right: -50%;
    top: 0;
    background: #8c52f6;
    transition: 0.5s;
}

.menu-mobile.show {
    right: 0;
}

.menu-mobile h2{
    font-size: 15px;
    color: #0ff;
    text-align: left;
}

.menu-mobile h2 span{
    float: right;
    font-size: 20px;
}

.menu-mobile .menu-links{
    text-align: left;
}

.menu-mobile .menu-links nav{
    margin-top: -15em;
}

.menu-mobile .menu-links nav ul li{
    margin: 1em 0;
    font-size: 20px;
}

.menu-mobile .menu-links nav ul li a{
    color: #fff;
}

.menu-mobile .menu-redes_social ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-mobile .menu-redes_social ul a{
    color: #fff;
}

.menu-titulo{
    padding-top: 1em;
    max-width: 700px;
}

.menu-titulo p{
    color: #8c52f6;
    font-size: 4vh;
}

.menu-titulo h1{
    color: #fff;
    font-size: 10vh;
}

/********/

.wave{
    background-image: url(../images/wave.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30vh;
    margin-top: -4em;
}

section.Sobre{
    background-color: #8c52f6;
    padding: 60px 0;
    min-height: 100vh;
    text-align: center;
}

section.Sobre .bottom-border{
    border-bottom: 1px solid #Fff;
}

section.Sobre .sobre-titulo{
    padding: 2em 0;
    margin: 0 auto;
    margin-bottom: 1em;
}

section.Sobre .sobre-titulo p{
    font-size: 30px;
    color: #fff;
}

section.Sobre .sobre-titulo h1{
    font-size: 60px;
    color: #0fff;
}

section.Sobre .sobre-texto_principal{
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

section.Sobre .sobre-texto_principal h1{
    flex: 30%;
    text-align: left;
}

.sobre-perfil{
    max-width: 300px;
    max-height: 300px;
    margin: 0 1.5em;
    margin-top: 3em;
}

.sobre-perfil img{
    width: 100%;
    animation: icons-espe1 4s infinite;
    transition: 0.5s;
    cursor: pointer;
    height: 100%;
}

.sobre-perfil img:hover{
    transform: scale(1.1);
}
/********/

section.conhecimento{
    padding: 80px 0;
}

section.conhecimento .container > h1{
    font-size: 5vh;
    color: #8c52f6;
    padding: .9em 0;
    text-align: center;
}

section.conhecimento .conhecimento-titulo{
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}

.conhecimento-titulo p{
    font-size: 4vh;
    color: #8c52f6;
}

.conhecimento-titulo h1{
    font-size: 60px;
    color: #0c0636;
    padding-bottom: 10px;
}

.conhecimento-tecnologias{
    text-align: center;
}

.conhecimento-tecnologias > h1{
    font-size: 35px;
    color: #8c52f6;
    padding: .9em 0;
}

.conhecimento-tecnologias .conhecimentos-icons{
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.conhecimento-tecnologias .conhecimentos-icons .w3{
    padding: 1em 3em;
    margin: 20px 30px;
    -webkit-box-shadow: 0px 0px 30px -12px #5d17eb;
    -moz-box-shadow: 0px 0px 30px -12px r#5d17eb;
    box-shadow: 0px 0px 30px -12px #5d17eb;
    border-radius: 20px;
    transition: 0.5s;
}

.conhecimentos-icons .w3:hover{
    color: #fff;
    background-color: #5d17eb;
}

.conhecimentos-icons .w3 i{
    font-size: 2.5em;
    color: #5d17eb;
    padding: .5em 0;
    transition: 0.5s;
}

.conhecimentos-icons .w3:hover i{
    transform: scale(1.2);
    color: #fff;
}

.conhecimentos-icons .w3 p{
    padding-top: 10px;
}

.conhecimento-especialidades .icons-especialidades{
    max-width: 900px;
    margin: 0 auto;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
}

.icons-especialidades i{
    max-width: 200px;
    font-size: 4em;
    margin: 1em .5rem;
    background-color: #10121f;
    color: #8c52f6;
    padding: .3em .4em;
    transition: 0.5s;
}

.icons-especialidades i:hover{
    transform: scale(1.1);
}

.icons-especialidades i:nth-child(odd){
    animation: icons-espe1 4s infinite;
}

.icons-especialidades i:nth-child(even){
    animation: icons-espe2 5s infinite;
}


@keyframes icons-espe1{

    0%{
        border-radius: 46% 54% 65% 35% / 45% 69% 31% 55% ;
    }

    50%{
        border-radius: 27% 73% 28% 72% / 70% 30% 70% 30% ;
    }

    75%{
        border-radius: 77% 23% 49% 51% / 34% 77% 23% 66% ;
    }

    100%{
        border-radius: 46% 54% 65% 35% / 45% 69% 31% 55% ;
    }
}

@keyframes icons-espe2{
    0%{
        border-radius: 46% 54% 24% 76% / 72% 26% 74% 28%;
    }

    50%{
        border-radius: 77% 23% 49% 51% / 34% 77% 23% 66%;
    }

    75%{
        border-radius: 27% 73% 28% 72% / 70% 30% 70% 30% ;
    }

    100%{
        border-radius: 46% 54% 24% 76% / 72% 26% 74% 28% ;
    }
}
/********/

section.trabalhos .titulo-texto{
    width: 100%;
    height: 70vh;
    text-align: center;
    padding-top: 4em;
    background-color: #10121f;
}

.trabalhos-projetos{
    margin: 0 auto;
    width: 100%;
    margin-top: -7em;
}

.trabalhos-projetos .projeto{
    margin: 2em 1.5em;
}

.projeto .img-demostracao{
    position: relative;
    max-width: 300px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
}

.projeto .img-demostracao:hover{
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 30px -12px #5d17eb;
    -moz-box-shadow: 0px 0px 30px -12px r#5d17eb;
    box-shadow: 0px 0px 30px -12px #5d17eb;
}

.projeto .img-demostracao img{
    border-radius: 8px;
    transition: 0.5s;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
}


.projeto .projeto-icons{
    text-align: center;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    transition: 0.5s;
}

.projeto .projeto-icons h2{
    color: #8c52f6;
    margin-bottom: .7rem;
}

.projeto .projeto-icons .flex{
    justify-content: center;
}

.projeto .projeto-icons i{
    font-size: 1.8em;
    color: #8c52f6;
    margin: 0 .3rem;
}

.hidden{
    display: none;
}

/***FANCYBOX***/

.container-fancybox{
    border-radius: 10px;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #10121f;
    color: #828282;

    --carousel-button-dots: #8c52f6;
    --carousel-button-color: #8c52f6;
}

.text{
    flex: 50%;
}

.text h2{
    color: #0ff;
    font-size: 2.5rem;
}

.text p{
    padding-right: 2rem;
    margin: 1rem 0;
    margin-bottom: 1.5rem;
}

.text a{
    text-decoration: none;
    color: #Fff;
    padding: .5rem .8rem;
    border-radius: 20px;
    transition: 0.5s;
    background: rgb(8,0,139);
    background: linear-gradient(344deg, rgba(8,0,139,1) 0%, rgba(93,23,235,1) 59%, rgba(92,51,173,1) 81%);
}

.text a:hover{
    transform: scale(1.2);
}

.img{
    align-self: center;
    flex: 50%;
}

.carousel {
    width: 100%;
    margin: 0 auto;
}
  
.carousel .carousel__slide {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto !important;
    padding: 0;
}
  
.carousel .carousel__slide img{
    width: 100%;
    height: 100%;
}

.carousel__dot{
    color: #8c52f6;
}

.video-js {
    width: 100% !important;
    height: 100% !important;
    color: #5d17eb;
    font-size: .8rem;
}

.vjs-big-play-button{
    color: #8c52f6 !important;
    background: transparent !important;
    border: none !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.vjs-mouse-display .vjs-time-tooltip{
    background-color: #5e17ebc2 !important;
    font-weight: bold;
}

.video-js .vjs-time-tooltip{
    background-color: #8b52f6b1 !important;
    font-weight: bold;
}

.video-js .vjs-control:focus, .video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before{
    text-shadow: none !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before, 
.video-js .vjs-paused .vjs-icon-placeholder:before{
    font-family: FontAwesome !important;
    content: "\f04b" !important;
}

.video-js .vjs-playing .vjs-icon-placeholder:before{
    font-family: FontAwesome !important;
    content: "\f04c" !important;
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before, .vjs-icon-fullscreen-enter:before{
    font-family: FontAwesome !important;
    content: "\f424" !important;
}

.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before, .vjs-icon-fullscreen-exit:before{
    font-family: FontAwesome !important;
    content: "\f422" !important;
}

.vjs-remaining-time{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

.vjs-picture-in-picture-control{
    display: none !important;
}

.vjs-volume-panel{
    display: none !important;
}

.vjs-control-bar{
    background: transparent !important;
}

.vjs-play-progress,
.vjs-volume-level,
.vjs-slider-bar{
    background-color: #8c52f6 !important;
}

/********/

.contato-icons{
    width: 100%;
    justify-content: center !important;
    margin-top: 3rem;
}

.contato-icons a.single-contato{
    text-decoration: none;
    margin: 1rem 1.5rem;
}

.contato-icons a.single-contato i{
    font-size: 2rem;
    background-color: #20243f98;
    color: #5d17eb;
    padding: 1.2rem;
    transition: 0.4s;
}

.contato-icons a.single-contato:hover i{
    transform: scale(1.1);
}

.contato-icons a.single-contato:nth-child(odd) i{
    animation: icons-espe1 4s infinite;
}

.contato-icons a.single-contato:nth-child(even) i{
    animation: icons-espe2 5s infinite;
}

.contato-icons a.single-contato h2{
    color: #828282;
    font-size: 1em;
}

.contato-icons a.single-contato p{
    color: #fff;
    margin: 1rem 0 .5rem 0;
}

section.contato{
    background-color: #10121f;
    padding: 8em 0;
    text-align: center;
}

footer{
    background-color: rgb(13, 13, 13);
}

footer .container{
    max-width: 900px;
    align-items: center;
}

footer .direto-autoral p{
    color: #fff;
    font-size: 1.3em;
}

footer .direto-autoral p span{
    color: #8c52f6;
    margin: 0 10px;
}

@media screen and (max-width: 760px) {

    .menu-desktop{
        display: none;
    }

    .menu-mobile-container{
        display: inline;
    }

    .menu-titulo{
        padding-top: 0;
        padding-bottom: 2em;
    }

    .menu-titulo h1{
        font-size: 8.5vw;
    }
        
    .flex{
        flex-direction: column;
    }

    /********/
    
    .icons-sobre .icons-sobre-texto{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 3em;
        padding: 1em 1em;
    }

    .conhecimento-especialidades{
        text-align: center;
        margin: 0 auto;
    }

    .conhecimento-especialidades .icons-especialidades{
        flex-wrap: wrap;
    }
    
    .icons-especialidades i{
        flex: 30%;
        font-size: 5em;
        padding: .4em 0;
    }

    /********/

        
    .titulo-texto p{
        font-size: 3.5vh;
    }

    .titulo-texto h1{
        font-size: 7vh;
    }

    .trabalhos-projetos{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .projeto-icons .flex{
        flex-direction: row;
    }

    .container-fancybox{
        height: auto;
        flex-direction:column;
    }

    .text{
        width: 100%;
    }

    .img{
        margin-top: 1.2rem;
        width: 100%;
    }
}

@media screen and (max-width: 480px){

    .menu-titulo h1{
        font-size: 10vw;
    }

    .icons-especialidades i{
        flex: 35%;
    }

}